

body {
    width: 100%;
    height: 100%;
    
    
  
}
.circle-top {
    
    background-image: url('images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;
    background-size: 90%;
  
    
    max-height: 976px;
    max-width: 978px;
    left: 2%;
    position: absolute;
    
    bottom: 40%;
}
.circle-bot {
    
    background-image: url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 90%;   
    max-height: 976px;
    max-width: 978px;
    left: 52%;
    top: 40%;
    position: absolute;
    
    
    
}
.page-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
   
}
.container{   
    background: #19A1AE;
    width: 110%;
    max-width: 1440px;
    max-height: 720px;
    height: 100vh; 
    display: flex;  
    justify-content: center;
    align-items: center; 
    z-index: -2;    
    
}
.card {
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    max-height: 374px;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    order: 2;
    
}
.img-victor{ 
    max-width: 96px;
    max-height: 96px; 
    width: 100%; 
    height: 100%;
    margin-top: -55px;   
    border-radius: 100%;
    border: 5px solid white;   
}
.card-top img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 600px;
    width: 100%;
    max-height: 140px;
    height: auto;
}
.social {
    border-top: 2px solid lightgray;
    max-width: 600px;
    width: 100%;
    margin-top: 10%;
   
    border-top: 2px solid lightgray;
    flex-direction: row; 
      
}

.socialinfo{    
    max-width: 249px;
    width: 100%;
    max-height: 20px;
    height: 100%;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: center;
    font-size: 18px;
    font-weight: 600; 
    word-spacing: 60px;
    margin-top: 5%;
}
.socialinfo2{
    max-width: 249px;
    width: 100%;
    max-height: 20px;
    height: 100%;
    margin: auto;
    justify-content: left;
    word-spacing: 70px;
   
    font-size: 10px;
}


@media (max-width: 640px) {
    .card{   
      width: 80%;
        max-width: 540px;
        max-height: 420px;
}
.container {
width: 90%;
}
.circle-top {
   
    bottom: 15%;
    left: -40%;
    background-size: 95%;
}
.circle-bot {

    top: 50%;
    left: 55%
}
.socialinfo2{
    max-width: 250px;
 
   
   
    font-size: .55em;
    display: flex;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    
}
.socialinfo{
font-size:.75em;
display: flex; 
padding-right: 0px;
word-spacing: 70px;
padding-left: 0px;


}
.card {
    height: 55%;
    width: 93%;
}
.card-top img {
    
    max-width: 100%;
    
    
}
}
.card-top {
    left: 20%;
    width: 100%
}
