

body {
    width: 100%;
    height: 100%;
   
    
}
.page-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
   
}
.container{   
    background: #19A1AE;
    width: 70%;
    max-width: 1440px;
    max-height: 720px;
    height: 100vh; 
    display: flex;  
    justify-content: center;
    align-items: center; 
    z-index: -2;    
    
}
.card {
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    max-height: 374px;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.img-victor{ 
    max-width: 96px;
    max-height: 96px; 
    width: 100%; 
    height: 100%;
    margin-top: -55px;   
    border-radius: 100%;
    border: 5px solid white;   
}
.card-top img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 600px;
    width: 100%;
    max-height: 140px;
    height: auto;
}
.social {
    border-top: 2px solid lightgray;
    max-width: 600px;
    width: 100%;
    margin-top: 10%;
   
    border-top: 2px solid lightgray;
    flex-direction: row; 
      
}

.socialinfo{    
    max-width: 249px;
    width: 100%;
    max-height: 20px;
    height: 100%;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: center;
    font-size: 18px;
    font-weight: 600; 
    word-spacing: 60px;
    margin-top: 5%;
}
.socialinfo2{
    max-width: 249px;
    width: 100%;
    max-height: 20px;
    height: 100%;
    margin: auto;
    justify-content: left;
    word-spacing: 70px;
   
    font-size: 10px;
}
/*
.top-circle { 
    margin-top: -1050px;
    margin-left: -975px;
    z-index: -1;    
}
.bottom-circle {

   z-index: -1;
    
}
.bottom-circle img{
    border: 5px solid red;
    max-width: 978px;
    max-height: 976px;
    width: 100%;
    height: 100%;
}
.container::before {
    content: '';
    max-width: 978px;
    max-height: 976px;
    position: absolute;
    top: 30%; 
    left: 55%; 
    width: 100%; 
    height: 100%; 
    background-image: url('/images/bg-pattern-bottom.svg');   
}
.container::after {
    content: '';
    max-width: 978px;
    max-height: 976px;
    position: absolute;
    top: -35%; 
    left: 10%; 
    width: 100%; 
    height: 100%; 
    background-image: url('/images/bg-pattern-top.svg');   
}*/

@media (max-width: 640px) {
    .card{   
      width: 80%;
        max-width: 540px;
        max-height: 420px;
}
.container {
width: 90%;
}
.socialinfo2{
    max-width: 250px;
 
   
   
    font-size: .55em;
    display: flex;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    
}
.socialinfo{
font-size:.75em;
display: flex; 
padding-right: 0px;
word-spacing: 70px;
padding-left: 0px;


}
.card {
    height: 55%;
    width: 93%;
}
.card-top img {
    
    max-width: 100%;
    
    
}
}
.card-top {
    left: 20%;
    width: 100%
}
/*
@media (max-height: 1200px){
    
.container{   
   
   
    height: 90%; 
   
        
}





    
}*/
